<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="ourbox.common.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="ourbox.common.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="ourbox.common.vo.AtchFileVO" alias="atchFileVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="ourbox/common/config/db/mapper/member.xml" />
		<mapper resource="ourbox/common/config/db/mapper/board.xml" />
		<mapper resource="ourbox/common/config/db/mapper/atchFile.xml" />
	</mappers>

</configuration>